.Movie {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.Movie input {
    width: 80%;
}

.Movie span {
    cursor: pointer;
}

