.MovieList {
    width: 600px;
    margin: 0 auto;
}

.MovieList form {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.MovieList form input {
    width: 80%;
    padding-left: 20px;
}

.MovieList form button {
    width: 15%;
}

.MovieList form input {
    height: 40px;
}